.coaches-card {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  line-height: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    position: absolute;
    bottom: 22px;
    left: 1px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: $color-default-white;
    width: 100%;
    z-index: 1;
    margin: 0;
    text-align: center;

    @media #{$not-wide-vp} {
      left: 4px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $color-default-white;
    padding-left: 14px;
    margin-bottom: 13px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -2px;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: $color-default-white;
    }
  }

  .coaches-card__info {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    left: 0;
    top: 0;

    h3,
    span {
      display: block;
      color: $color-default-white;
      text-align: center;
    }

    h3 {
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      margin: 0 37px 0 0;

      @media #{$middle-vp} {
        margin: 0 44px 0 -3px;
      }

      @media #{$narrow-vp} {
        margin: 0 25px 0 0;
      }
    }

    span {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $sport-text-color;
      margin: -3px 36px 32px 0;

      @media #{$middle-vp} {
        margin: -3px 45px 32px 0;
      }

      @media #{$narrow-vp} {
        margin: -3px 25px 32px 0;
      }
    }
  }

  &:hover {
    p {
      display: none;
    }

    .coaches-card__info {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding: 52px 20px 20px 57px;
      background: $coaches-info-background-color;
      overflow-y: auto;
      z-index: 1;

      scrollbar-width: thin;
      scrollbar-color: $coaches-info-background-color;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: $coaches-info-background-color;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $color-razzmatazz;
      }

      @media #{$narrow-vp} {
        padding: 42px 10px 10px 35px;
      }
    }

    box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
  }
}
