.coaches-slider {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  padding: 0 56px;

  .coaches-slider__slide {
    min-width: 0;
    width: 260px;
    height: 294px;

    @media #{$middle-vp} {
      width: 268px;
      height: 294px;
    }

    @media #{$narrow-vp} {
      width: 226px;
      height: 274px;
    }
  }

  @media #{$narrow-vp} {
    max-width: initial;
    padding: 0 15px;
  }
}

.coaches-slider__swiper {
  padding: 35px 0;
}
