.coaches {
  padding-top: 59px;
  padding-bottom: 84px;


  h2 {
    padding-left: 58px;
    margin-bottom: 16px;

    @media #{$not-wide-vp} {
      padding: 0;
      margin-bottom: 5px;
      text-align: center;
    }

    @media #{$narrow-vp} {
      margin-bottom: 7px;
    }
  }

  @media #{$middle-vp} {

    padding-bottom: 65px;
  }

  @media #{$narrow-vp} {
    padding-bottom: 36px;
  }
}
