.competition {
  padding: 120px 0 60px;

  @media #{$middle-vp} {
    padding: 100px 45px 100px;
  }

  @media #{$narrow-vp} {
    padding: 69px 15px;
  }
}

.competition__content {
  display: flex;
  width: 100%;
  background: $competition-color;

  img {
    margin-left: auto;
    max-width: 660px;
    width: 100%;
    object-fit: cover;


    @media #{$not-wide-vp} {
      height: 100%;
    }
  }

  @media #{$middle-vp} {
    display: grid;
    grid-template-columns: 1fr 1.32fr;
    justify-content: space-between;
  }

  @media #{$narrow-vp} {
    flex-direction: column;

    img {
      max-width: 100%;
    }
  }
}

.competition__text {
  max-width: 500px;
  width: 100%;
  flex-grow: 1;

  @media #{$middle-vp} {
    box-sizing: border-box;
    max-width: 292px;
    width: 100%;
  }

  @media #{$narrow-vp} {
    max-width: initial;
  }
}
