.competition-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  padding: 81px 21px 75px 78px;

  h2 {
    font-family: $ff-bebas-neue;
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 2.7px;
    color: $color-default-white;
    padding-top: 2px;
    margin: 0 50px 0 0;
    height: fit-content;

    @media #{$middle-vp} {
      font-size: 52px;
      line-height: 52px;
      letter-spacing: 1.5px;
      margin: 0;
    }

    @media #{$narrow-vp} {
      font-size: 52px;
      line-height: 52px;
      letter-spacing: 1.3px;
      margin: 0;
    }
  }

  p {
    grid-column: 1 / -1;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: $color-default-white;
    margin: 9px 0 45px;

    @media #{$not-wide-vp} {
      font-size: 12px;
      line-height: 18px;
      margin: 0 0 30px;
    }

    @media #{$narrow-vp} {
      margin: -1px 0 21px;
    }
  }

  a {
    display: block;
    grid-column: 1 / -1;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    max-width: 347px;
    min-height: 38px;
    margin-left: -2px;
    padding: 30px 20px 27px;
    box-shadow: inset 0 0 0 4px $color-default-white;

    user-select: none;

    @media #{$not-wide-vp} {
      box-sizing: border-box;
      font-size: 10px;
      line-height: 12px;
      box-shadow: inset 0 0 0 2px $color-default-white;
      min-height: 41px;
      max-width: 204px;
      margin-left: -1px;
      padding: 15px 10px 10px;
    }

    @media #{$narrow-vp} {
      max-width: initial;
      max-width: 203px;
      width: 100%;
      margin: 10px 0 0 -2px;
    }
  }

  @media #{$middle-vp} {
    padding: 47px 21px 40px 45px;
  }

  @media #{$narrow-vp} {
    grid-template-columns: min-content 1fr;
    padding: 47px 41px 50px 45px;
  }
}

.competition-text__date-list {
  padding-left: 50px;

  @media #{$middle-vp} {
    padding-left: 29px;
  }

  @media #{$narrow-vp} {
    padding-left: 31px;
  }
}
