.contacts {
  .contacts__container {
    display: flex;
    justify-content: space-between;
    max-width: 404px;
    padding-top: 40px;
    padding-left: 4px;

    @media #{$not-wide-vp} {
      padding-left: 0;
      padding-right: 14px;
      padding-top: 33px;
      max-width: initial;
    }

    @media #{$narrow-vp} {
      flex-direction: column;
      padding-top: 35px;
    }
  }

  .contacts__list {
    margin: 0;
  }

  a,
  h3,
  p {
    font-family: $ff-roboto-condensed;
    color: $color-blue-zodiac;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 3px;

    @media #{$not-wide-vp} {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 6px;
    }
  }

  p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    @media #{$not-wide-vp} {
      font-size: 18px;
      line-height: 27px;
    }
  }

  a {
    text-decoration: none;
  }

  .contacts__list + .contacts__list {
    position: relative;
    padding-left: 60px;

    @media #{$not-narrow-vp} {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(calc(-50% - 10px));
        height: 102px;
        width: 1px;
        background: $connection-border-color;
      }
    }

    @media #{$not-wide-vp} {
      padding-left: 48px;

      &::before {
        height: 128px;
      }
    }

    @media #{$narrow-vp} {
      padding: 0;
    }
  }

  .contacts__item {
    margin-bottom: 19px;
  }
}
