.free-training {
  background: $color-blue-zodiac;

  h2 {
    margin-bottom: 43px;
    color: $color-default-white;

    @media #{$middle-vp} {
      margin-bottom: 37px;
    }

    @media #{$narrow-vp} {
      margin-bottom: 39px;
    }
  }

  .free-training__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 441px;
    margin-bottom: 22px;

    @media #{$not-wide-vp} {
      max-width: initial;
      width: 100%;
      gap: 35px;
    }

    @media #{$middle-vp} {
      gap: 60px;
    }

    @media #{$narrow-vp} {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-bottom: 40px;
    }
  }

  label + label {
    @media #{$narrow-vp} {
      margin-top: 36px;
    }
  }

  label {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $connection-border-color;
    }
  }

  input {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    background: none;
    border: none;
    max-width: 189px;
    width: 100%;
    padding: 2px 10px 5px 0;
    color: $color-default-white;

    &:hover {
      box-shadow: 0 2px 0 0 $connection-border-color;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 2px 0 0 $connection-border-color;
    }

    @media #{$not-wide-vp} {
      max-width: initial;
    }
  }

  input::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }

  button {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: baseline;
    font-family: $ff-roboto-condensed;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $color-default-white;
    letter-spacing: 0.7px;
    box-shadow: 0 0 0 3px $color-default-white;
    max-width: 407px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 17px;
    margin-left: 1px;

    @media #{$not-wide-vp} {
      max-width: initial;
    }

    @media #{$narrow-vp} {
      box-shadow:
        inset 0 0 0 2px $color-default-white,
        0 0 0 1px $color-default-white;
      min-height: 52px;
      margin: 0;
    }
  }

  @media #{$narrow-vp} {
    min-height: 386px;
  }
}
