.header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  background: transparent;
  padding: 30px 0 30px 0;
  z-index: 1;

  .header__logo {
    padding-right: 20px;
    height: fit-content;

    @media #{$narrow-vp} {
      margin-top: -1px;
    }
  }

  @media #{$middle-vp} {
    padding: 40px 45px 19px;
  }

  @media #{$narrow-vp} {
    padding: 19px 15px;
  }
}

.header__logo svg {
  @media #{$wide-vp} {
    margin-top: 0;
  }

  @media #{$middle-vp} {
    width: 80px;
    margin: 0;
  }

  @media #{$narrow-vp} {
    width: 67px;
  }
}

.header__phone {
  display: flex;
  flex-direction: column;

  @media #{$wide-vp} {
    position: absolute;
    right: 0;
    max-height: 440px;
    overflow: hidden;
  }

  @media #{$middle-vp} {
    margin-top: -1px;
  }
}
