.header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  background: transparent;
  padding: 30px 0 30px 0;
  z-index: 1;

  .header__logo {
    padding-right: 20px;
    height: fit-content;

    @media #{$narrow-vp} {
      margin-top: -1px;
    }
  }

  @media #{$not-wide-vp} {
    justify-content: space-between;
  }

  @media #{$middle-vp} {
    padding: 40px 45px 19px;
  }

  @media #{$narrow-vp} {
    padding: 19px 15px;
  }
}

.header__logo svg {
  @media #{$wide-vp} {
    margin-top: 0;
  }

  @media #{$middle-vp} {
    width: 80px;
    margin: 0;
  }

  @media #{$narrow-vp} {
    width: 67px;
  }
}

.header__phone {
  display: flex;
  flex-direction: column;

  @media #{$wide-vp} {
    position: absolute;
    right: 0;
    max-height: 430px;
    overflow: hidden;
  }

  @media #{$not-wide-vp} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 60px;
    justify-self: flex-end;
  }

  @media #{$middle-vp} {
    max-width: 600px;
    margin-left: 40px;
    margin-top: -1px;
  }
}
