.promo-main {
  display: flex;
  max-width: 560px;
  background: $color-red-ribbon;

  @media #{$not-narrow-vp} {
    margin-right: 40px;
  }


  img {
    @media #{$not-wide-vp} {
      width: 100%;
    }

    @media #{$narrow-vp} {
      height: 100%;
    }
  }

  @media #{$middle-vp} {
    margin-right: 0;
    max-width: 100%;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
  }
}

.promo-main__text {
  display: flex;
  flex-direction: column;
  padding: 33px 45px 46px;

  @media #{$middle-vp} {
    max-width: 279px;
  }
}
