.promo-main-text__container {
  flex-grow: 1;
  margin: 0;
  padding-bottom: 20px;
}

.promo-main-text {
  h3,
  span,
  p,
  a {
    font-family: $ff-roboto-condensed;
    color: $color-default-white;


    @media #{$narrow-vp} {
      text-align: center;
    }
  }

  h3 {
    font-size: 28px;
    line-height: 44px;
    font-weight: 700;
    margin: 0;
    margin-bottom: -25px;
  }

  span {
    font-size: 70px;
    line-height: 109px;
    font-weight: 700;
    margin: 0;

    @media #{$narrow-vp} {
      display: block;
    }
  }

  p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;

    @media #{$narrow-vp} {
      margin-top: -5px;
      margin-bottom: 11px;
    }
  }

  a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-underline-offset: 4px;
  }

  @media #{$middle-vp} {
    min-height: 436px;
    height: fit-content;
    padding-bottom: 20px;
  }
}
