.promo-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 19px 28px 30px;
  border: 7px solid;
  border-image: $border-gradient;
  border-image-slice: 1;
  min-height: 211px;

  h3,
  p,
  a {
    color: $color-biscay;
    margin: 0;
  }

  h3 {
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 3px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding-right: 38px;

    @media #{$narrow-vp} {
      padding-right: 0;
    }
  }

  a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-underline-offset: 4px;

    @media #{$narrow-vp} {
      text-align: center;
    }
  }

  &--discount {
    p {
      padding-right: 0;
    }
  }

  @media #{$narrow-vp} {
    padding-top: 30px;
    padding-bottom: 41px;
  }
}

.promo-card__container {
  flex-grow: 1;

  @media #{$narrow-vp} {
    text-align: center;
  }
}
