.reviews-carousel {
  box-sizing: border-box;
  position: relative;
  max-width: 672px;
  padding: 0 56px;
  margin: 0 auto;

  .reviews-carousel__slider {
    box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  }

  @media #{$middle-vp} {
    max-width: 678px;
  }

  @media #{$narrow-vp} {
    padding: 0 32px;
  }
}
