.subscription-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  min-height: 448px;
  padding: 50px 10px 20px;
  background-color: $color-default-white;
  border: solid 7px $color-default-white;

  p,
  h3 {
    text-align: center;
    padding: 0;
  }

  h3 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    color: $color-blue-zodiac;

    margin-bottom: 5px;

    @media #{$narrow-vp} {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 9px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $color-blue-bayoux;
  }

  .subscription-card__currency {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 100%;
    padding-top: 65px;
    margin-bottom: 35px;
    overflow: hidden;

    @media #{$middle-vp} {
      margin-bottom: 35px;
    }

    @media #{$narrow-vp} {
      padding-top: 53px;
      margin-bottom: 31px;
    }
  }

  span {
    position: relative;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    color: $subscription-price-color;
    margin-right: 10px;
    z-index: 1;
    word-break: break-all;

    &::after {
      content: attr(data-subscription-price);
      position: absolute;
      font-size: 100px;
      line-height: 150px;
      font-weight: 700;
      color: $subscription-price-shadow-price-color;
      left: 50%;
      top: 50%;
      width: 300px;
      transform: translate(calc(-50% + 20px), calc(-50% - 24px));
      z-index: -1;

      @media #{$narrow-vp} {
        font-size: 80px;
        line-height: 120px;
        transform: translate(calc(-50% + 17px), calc(-50% - 19px));
      }
    }

    @media #{$narrow-vp} {
      font-size: 48px;
      line-height: 72px;
      padding-left: 3px;
      margin-right: 7px;
    }
  }

  span + img {
    position: relative;
    z-index: 1;

    @media #{$narrow-vp} {
      width: 24px;
      transform: translateY(4px);
    }
  }

  .subscription-card__button {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: baseline;
    align-self: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue-zodiac;
    text-align: center;
    min-height: 64px;
    max-width: 206px;
    width: 100%;
    padding-top: 26px;
    box-shadow:
      inset 0 0 0 1px $color-blue-zodiac,
      0 0 0 1px $color-blue-zodiac;
  }

  &:hover,
  &:focus-within {
    border-image: $subscription-border-gradient;
    border-image-slice: 1;

    .subscription-card__button {
      box-shadow: none;
      background: $gradient-default;
      color: $color-default-white;
    }
  }

  @media #{$not-wide-vp} {
    max-width: 442px;
  }

  @media #{$narrow-vp} {
    min-height: 384px;
    margin: 0;
    padding: 44px 10px 20px;
  }
}
