.subscription {
  padding-top: 119px;
  padding-bottom: 120px;
  background: $section-background-color;

  @media #{$not-narrow-vp} {
    position: relative;
  }

  @media #{$middle-vp} {
    padding-top: 100px;
    padding-bottom: 99px;
  }

  @media #{$narrow-vp} {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.subscription h2 {
  text-align: center;
  margin-bottom: 24px;

  @media #{$middle-vp} {
    margin-bottom: 19px;
  }

  @media #{$narrow-vp} {
    margin-bottom: 11px;
  }
}

.subscription__plates {
  position: absolute;
  width: 100%;
  bottom: -148px;
  z-index: 1;
  overflow: hidden;

  .subscription__plates-container {
    position: relative;
    width: 1160px;
    margin: 0 auto;

    &--overflow {
      width: 1446px;

      @media #{$middle-vp} {
        width: 844px;
      }
    }

    @media #{$middle-vp} {
      width: 100%;
    }
  }

  img {
    display: block;
    position: relative;
    margin-left: auto;

    @media #{$middle-vp} {
      width: 423px;
      height: 100%;
    }
  }

  @media #{$middle-vp} {
    bottom: -125px;
  }

  @media #{$narrow-vp} {
    display: none;
  }
}
